@charset "UTF-8";
/* CSS Document */
/************************** BEGIN GRAPHIC 1 **************************/

.graphic1-legend {
  float:right;
  padding-bottom: 50px;
}

.graphic1-legend-icon circle{
  stroke: #12719e !important;
  fill: #12719e !important;
  stroke-width: 1px !important;
}

.graphic1-legend-icon {
  vertical-align: middle;
  display: inline-block;
}

.graphic1-legend-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
}


      #urb-tooltip1 {
                background-color: #FFF;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                border-radius: 5px;
                    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                height: auto;
              padding: 15px;
              opacity: 1;
              pointer-events: none;
                position: absolute;
              width: 120px;
              z-index: 1000;
            }
            #urb-tooltip1.hidden {
              display: none;
            }
            #urb-tooltip1 p {
        color:#000;
                margin: 0;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: normal;
                font-size: 16px;
                line-height: 20px;
            }
      #urb-tooltip1 p .urb-tooltip-number {
        color:#1695d1;
        font-weight:bold;
      }
      #urb-container1 {
        box-sizing:border-box;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    /*    max-height:1140px;*/
        max-width:760px;
        padding: 0px 0px 50px 0px;
        position:relative;
      }
      #urb-container1 strong {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      #urb-container1 * {
        box-sizing:border-box;
        margin:0;
        padding:0;
      }
      #urb-container1 h2 {
        color:#000000;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:24px;
        font-weight:bold;
        line-height: 26px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      #urb-container1 h2 span.urb-data1-cat {
        color:#1695d1;
      }
      #urb-container1 h3 {
        color:#353535;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:18px;
        font-style: italic;
        font-weight:normal;;
        line-height:22px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      #urb-container1 .urb-container1-column {
        display: block;
        float: left;
        width: 15%;
      }
      #urb-container1 .urb-container1-chart {
        display: block;
        float: left;
        padding: 0 0 0 20px;
        width: 85%;
      }     
      #urb-container1 #urb-graphic-container1 {
          display: inline-block;
          position: relative;
          width: 100%;
          padding-bottom: 0%; /* aspect ratio */
          vertical-align: top;
          overflow: hidden;
      }
      #urb-container1 .urb-button-container {
        display:block;
        float:left;
        height:auto;
        margin: 0;
        padding: 0;
        position: relative;
        width:100%;
      }
      #urb-container1 .urb-button-container p {
        display: none;
      }
      #urb-container1 .urb-button-container .urb-button {
        background-color:#eaeaea;
        border-radius: 5px;
        color:#000000;
        cursor:pointer;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:normal;
        height:30px;
        line-height:30px;
        margin:0 0 8px 0;
        padding:0;
        text-align:center;
        text-decoration: none;
        width:100%;
      }
      #urb-container1 .urb-button-container .urb-button:hover {
        background-color:#BBBBBB;
      }
      #urb-container1 .urb-button-container .urb-button.urb-active1 {
        background-color:#12719e;
        color:#FFF;
        font-weight: bold;
      }
      #urb-container1 .urb-button-container .urb-button.urb-active1:hover {
        background-color:#1695d1;
      }
      #urb-container1 #urb-dmv-graphic1 circle {
        cursor:pointer;
        fill:#FFFFFF;
        stroke:#1695d1;
        stroke-width:1px;
      }
      #urb-container1 #urb-dmv-graphic1 circle:hover {
        fill:#1695d1 !important;
      }
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Falls Church City, VA'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Falls Church City, VA']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Washington, DC'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Washington, DC']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
       #urb-container1 #urb-dmv-graphic1 circle[data-city='Alexandria City, VA'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Alexandria City, VA']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Arlington County, VA'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Arlington County, VA']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Fairfax City, VA'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Fairfax City, VA']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      } 
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Fairfax County, VA'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Fairfax County, VA']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      } 
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Loudoun County, VA'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Loudoun County, VA']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Montgomery County, MD'],
      #urb-container1 #urb-dmv-graphic1 circle[data-city='Montgomery County, MD']:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
      #urb-container1 #urb-dmv-graphic1 circle[data-city="Prince George's County, MD"],
      #urb-container1 #urb-dmv-graphic1 circle[data-city="Prince George's County, MD"]:hover {
        cursor:default !important;
        fill:#12719e !important;
        stroke:#12719e !important;
        stroke-width:1px !important;
      }
      #urb-container1 #urb-dmv-graphic1 .urb-label-dmv1 text,
      #urb-container1 #urb-dmv-graphic1 .urb-label-dmv2 text {
        font-size:14px;
        font-weight:bold;
      }
      #urb-container1 #urb-dmv-graphic1 .urb-line-dmv {
        display: block;
      }
      #urb-container1 #urb-dmv-graphic1 .urb-line-nodmv {
        display: none;
      }
      #urb-container1 #urb-dmv-graphic1 .axis1 path {
        display: none;
      }
      #urb-container1 #urb-dmv-graphic1 .y1.axis1 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:end;
        transform: translate(55px,-10px);
      }
      #urb-container1 #urb-dmv-graphic1 .y1.axis1 .tick line {
        stroke:#85a3ae;
      }
            @media screen and (max-width:720px) {       
        #urb-container1 .urb-container1-column {
          float: left;
          height: 58px;
          margin: 0 0 14px 0;
          overflow: hidden;
          position: relative;
          width: 100%;
        }
        #urb-container1 .urb-container1-column.ub-menu-opened1 {
          overflow: visible;
        }
        #urb-container1 .urb-container1-chart {
          padding: 0;
          width: 100%;
        }
        #urb-container1 .urb-button-container {
          background-color:#FFF;
          border-radius: 14px;
          border:1px solid #12719E;
          cursor: pointer;
          height: 52px;
          margin: 0 0 20px 0;
          padding: 6px;
          position: absolute;
          z-index: 10;
        }
        #urb-container1 .urb-container1-column.ub-menu-opened1 .urb-button-container {
                      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          height: 287px;
          margin: 0 0 0 0;
        }
        #urb-container1 .urb-button-container p {
          background-color:transparent;
          background-image: url("../img/bg-triangle.png");
          background-repeat: no-repeat;
          background-position: center 36px;
          background-size: 18px 16px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight: bold;
          height: 52px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }
        #urb-container1 .urb-container1-column.ub-menu-opened1 .urb-button-container p {
          display: none;
        }
        #urb-container1 .urb-button-container p span {
          background-color:#12719E;
          border-radius: 8px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-weight: bold;
          height: 38px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }       
        #urb-container1 .urb-button-container .urb-button {
          background-color:#eaeaea;
          border-radius: 0px;
          color:#000000;
          cursor:pointer;
          display:block;
          float:left;
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight:normal;
          height:39px;
          line-height:38px;
          margin:0;
          padding:0 15px;
          text-align:center;
          text-decoration: none;
          width:100%;
        }
        #urb-container1 .urb-button-container .urb-button.urb-button-01 {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        } 
        #urb-container1 .urb-button-container .urb-button.urb-button-07 {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        #urb-container1 .urb-button-container .urb-button span {
          border-bottom: 1px solid #85a3ae;
          display: block;
          width: 100%;
        }
        #urb-container1 .urb-button-container .urb-button:last-of-type span {
          border-bottom: none;
        }
            }
      @media screen and (max-width:480px) {
        #urb-container1 h2 {
          font-size:20px;
          line-height:24px;
          padding-bottom: 7px;
        }
        #urb-container1 h3 {
          font-size:16px;
          line-height:20px;
          padding-bottom: 7px;
        }
      }
/************************** END GRAPHIC 1 **************************/

/************************** BEGIN GRAPHIC 2 **************************/
.graphic2-legend {
  float:left;
}

.graphic2-legend-text {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding-top: 20px !important;

}
      #urb-container2 {
        box-sizing:border-box;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        max-width:760px;
        padding:0px;
        position:relative;
      }
      #urb-container2 strong {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      #urb-container2 * {
        box-sizing:border-box;
        margin:0;
        padding:0;
      }
      #urb-container2 h2 {
        color:#000000;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:24px;
        font-weight:bold;
        line-height: 26px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      #urb-container2 h2 span {
        color:#1695d1;
      }
      #urb-container2 .urb-container2-chart {
        display: block;
        float: left;
        padding: 0;
        width: 100%;
      }     
      #urb-container2 #urb-graphic-container2 {
        border-radius: 25px;
          display: inline-block;
        height: 540px;
          position: relative;
          width: 100%;
          padding-bottom: 0%; /* aspect ratio */
          vertical-align: top;
          overflow: hidden;
      }
      #urb-container2 #urb-graphic-container2 .urb-graphic-container2-left {
        border-right: 3px solid #FFF;
        display: block;
        float: left;
        height: 100%;
        width: 86%;
      }
      #urb-container2 #urb-graphic-container2 .urb-graphic-container2-right {
        display: block;
        float: left;
        height: 100%;
        width: 14%;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueSF2 {
        background-color:#1695d1;
        border-top: 3px solid #FFF;
        height: 72%;
        padding: 8px 0 0 12px;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueMF2 {
        border-top: 3px solid #FFF;
        background-color:#eb008a;
        height: 59%;
        padding: 8px 0 0 12px;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueSmallBiz2 {
        background-color:#55b648;
        border-top: 3px solid #FFF;
        height: 28%;
        padding: 8px 0 0 12px;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueNonRes2 {
        background-color:#d1d1d1;
        height: 28%;
        padding: 8px 0 0 12px;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueMission2 {
        background-color:#fcbe11;
        border-top: 3px solid #FFF;
        height: 8%;
        padding: 8px 0 0 12px;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueFederal2 {
        background-color:#000000;
        height: 5%;
        padding: 8px 0 0 12px;
      }
      #urb-container2 #urb-graphic-container2 p {
        color:#000;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:16px;
        font-weight:normal;
        line-height:18px;
        margin: 0;
      }
      #urb-container2 #urb-graphic-container2 .urb-area2-valueFederal2 p {
        color:#FFF;
      }
      #urb-container2 #urb-graphic-container2 p.urb-text2-name {
        font-size:16px;
        font-weight:bold;
        line-height:20px;
        margin: 0;
      }
      #urb-container2 #urb-graphic-container2 p.urb-text2-name-federal {
        font-size: 14px;
        font-weight:bold;
        line-height:14px;
        margin: 0;
      }
       #urb-container2 #urb-graphic-container2 p.urb-text2-number {
        font-size:16px;
        line-height:20px;
        margin: 0;
      }
      #urb-container2 #urb-graphic-container2 p.urb-text2-number-federal {
        font-size:11px;
        line-height:14px;
        margin: 0;
      }

            @media screen and (max-width:640px) {       
        #urb-container2 #urb-graphic-container2 {
          border-radius: 20px;
          height: 480px;
        }
        #urb-container2 #urb-graphic-container2 .urb-graphic-container2-left {
          border-bottom: 3px solid #FFF;
          border-right: none;
          height: 86%;
          width: 100%;
        }
        #urb-container2 #urb-graphic-container2 .urb-graphic-container2-right {
          height: 14%;
          width: 100%;
        }       
        #urb-container2 #urb-graphic-container2 .urb-area2-valueSF2 {
          border-left:3px solid #FFF;
          border-top: none;
          float: left;
          height: 100%;
          width: 72%;
          padding: 8px 0 0 10px;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueMF2 {
          border-right: 3px solid #FFF;
          border-top: none;
          float: right;
          height: 100%;
          padding: 8px 0 0 10px;
          width: 59%;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueSmallBiz2 {
          border-right: 3px solid #FFF;
          border-top: none;
          float: right;
          height: 100%;
          padding: 8px 0 0 10px;
          width: 28%;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueNonRes2 {
          float: left;
          height: 100%;
          padding: 8px 0 0 10px;
          width: 28%;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueMission2 {
          border-right: 3px solid #FFF;
          border-top: none;
          float: right;
          height: 100%;
          padding: 0;
          width: 8%;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueMission2 p{
          line-height: 10% !important;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueFederal2 {
          float: right;
          height: 100%;
          padding: 0;
          width: 5%;
        }       
        #urb-container2 #urb-graphic-container2 .urb-area2-valueFederal2 p{
          font-size: 12px !important;
          line-height: 10% !important;
        }
        #urb-container2 #urb-graphic-container2 p {
          font-size:13px;
          line-height:15px;
        }
        #urb-container2 #urb-graphic-container2 p.urb-text2-name {
          font-size:15px;
          line-height:17px;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueMission2 span {
          display: block;
          -webkit-transform: rotate(-90deg) translate(28px,7px);
          -moz-transform: rotate(-90deg) translate(28px,7px);
          -o-transform: rotate(-90deg) translate(28px,7px);
          -ms-transform: rotate(-90deg) translate(28px,7px);
          transform: rotate(90deg) translate(28px,7px);
          width:130%;
        }
        #urb-container2 #urb-graphic-container2 .urb-area2-valueFederal2 span {
          display: block;
          -webkit-transform: rotate(-90deg) translate(23px,7px);
          -moz-transform: rotate(-90deg) translate(23px,7px);
          -o-transform: rotate(-90deg) translate(23px,7px);
          -ms-transform: rotate(-90deg) translate(23px,7px);
          transform: rotate(90deg) translate(23px,7px);
          width:130%;
        }
      }
      @media screen and (max-width:480px) {
        #urb-container2 h2 {
          font-size:20px;
          line-height:24px;
          padding-bottom: 7px;
        }
      }
/************************** END GRAPHIC 2 **************************/

/************************** BEGIN GRAPHIC 3 **************************/
      #urb-tooltip3 {
                background-color: #FFF;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                border-radius: 5px;
                    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                height: auto;
              padding: 15px;
              opacity: 1;
              pointer-events: none;
                position: absolute;
              width: 60px;
              z-index: 1000;
            }
            #urb-tooltip3.hidden {
              display: none;
            }
            #urb-tooltip3 p {
        color:#000;
                margin: 0;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: normal;
                font-size: 16px;
                line-height: 20px;
            }
      #urb-tooltip3 p .urb-tooltip-number {
        color:#1695d1;
        font-weight:bold;
      }
      #urb-container3 {
        box-sizing:border-box;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    /*    max-height:1140px;*/
        max-width:760px;
        padding:0px;
        position:relative;
      }
      #urb-container3 strong {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      #urb-container3 * {
        box-sizing:border-box;
        margin:0;
        padding:0;
      }
      #urb-container3 h2 {
        color:#000000;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:24px;
        font-weight:bold;
        line-height:26px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      #urb-container3 h2 span.urb-data3-cat {
        color:#1695d1;
      }
      #urb-container2 h3{
        color: #353535;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-style: italic;
        font-weight: normal;
        line-height: 22px;
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 10px;
      }
      #urb-container3 .urb-container3-column {
        display: block;
        float: left;
        width: 15%;
      }
      #urb-container3 .urb-container3-chart {
        display: block;
        float: left;
        padding: 0 0 0 20px;
        width: 85%;
      }     
      #urb-container3 #urb-graphic-container3 {
          display: inline-block;
          position: relative;
          width: 100%;
          padding-bottom: 0%; /* aspect ratio */
          vertical-align: top;
          overflow: hidden;
      }
      #urb-container3 .urb-button-container {
        display:block;
        float:left;
        height:auto;
        margin: 0;
        padding: 0;
        position: relative;
        width:100%;
      }
      #urb-container3 .urb-button-container p {
        display: none;
      }
      #urb-container3 .urb-button-container .urb-button {
        background-color:#eaeaea;
        border-radius: 5px;
        color:#000000;
        cursor:pointer;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:normal;
        height:30px;
        line-height:30px;
        margin:0 0 8px 0;
        padding:0;
        text-align:center;
        text-decoration: none;
        width:100%;
      }
      #urb-container3 .urb-button-container .urb-button:hover {
        background-color:#BBBBBB;
      }
      #urb-container3 .urb-button-container .urb-button.urb-active3 {
        background-color:#12719e;
        color:#FFF;
        font-weight: bold;
      }
      #urb-container3 .urb-button-container .urb-button.urb-active3:hover {
        background-color:#1695d1;
      }
      #urb-container3 #urb-dmv-graphic3 circle {
        cursor:pointer;
        fill:#FCBE11;
        stroke:#1695d1;
        stroke-width:2px;
      }
      #urb-container3 #urb-dmv-graphic3 circle[data-year='2010'],
      #urb-container3 #urb-dmv-graphic3 circle[data-year='2010']:hover,
      #urb-container3 #urb-dmv-graphic3 circle[data-year='2020'],
      #urb-container3 #urb-dmv-graphic3 circle[data-year='2020']:hover {
        cursor:default !important;
        fill:#FCBE11 !important;
        stroke-width:3px !important;
      }
      #urb-container3 #urb-dmv-graphic3 .urb-label-first1 text {
        font-size:16px;
        font-weight:normal;
      }
      #urb-container3 #urb-dmv-graphic3 .urb-label-first2 text {
        font-size:18px;
        font-weight:bold;
      }
      #urb-container3 #urb-dmv-graphic3 .y3.axis3 path {
        display: none;
      }
      #urb-container3 #urb-dmv-graphic3 .y3.axis3 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:end;
        transform: translate(55px,-10px);
      }
      #urb-container3 #urb-dmv-graphic3 .x3.axis3 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:middle;
      }
      #urb-container3 #urb-dmv-graphic3 .y3.axis3 .tick line {
        stroke:#A9BEC6;
      }
      #urb-container3 #urb-dmv-graphic3 .x3.axis3 .tick line {
        stroke:#85A3AE;
      }
            @media screen and (max-width:720px) {
        #urb-container3 .urb-container3-column {
          float: left;
          height: 58px;
          margin: 0 0 14px 0;
          overflow: hidden;
          position: relative;
          width: 100%;
        }
        #urb-container3 .urb-container3-column.ub-menu-opened3 {
          overflow: visible;
        }
        #urb-container3 .urb-container3-chart {
          padding: 0;
          width: 100%;
        }
        #urb-container3 .urb-button-container {
          background-color:#FFF;
          border-radius: 14px;
          border:1px solid #12719E;
          cursor: pointer;
          height: 52px;
          margin: 0 0 20px 0;
          padding: 6px;
          position: absolute;
          z-index: 10;
        }
        #urb-container3 .urb-container3-column.ub-menu-opened3 .urb-button-container {
                      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          height: 287px;
          margin: 0 0 0 0;
        }
        #urb-container3 .urb-button-container p {
          background-color:transparent;
          background-image: url("../img/bg-triangle.png");
          background-repeat: no-repeat;
          background-position: center 36px;
          background-size: 18px 16px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight: bold;
          height: 52px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }
        #urb-container3 .urb-container3-column.ub-menu-opened3 .urb-button-container p {
          display: none;
        }
        #urb-container3 .urb-button-container p span {
          background-color:#12719E;
          border-radius: 8px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-weight: bold;
          height: 38px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }       
        #urb-container3 .urb-button-container .urb-button {
          background-color:#eaeaea;
          border-radius: 0px;
          color:#000000;
          cursor:pointer;
          display:block;
          float:left;
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight:normal;
          height:39px;
          line-height:38px;
          margin:0;
          padding:0 15px;
          text-align:center;
          text-decoration: none;
          width:100%;
        }
        #urb-container3 .urb-button-container .urb-button.urb-button-01 {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        } 
        #urb-container3 .urb-button-container .urb-button.urb-button-07 {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        #urb-container3 .urb-button-container .urb-button span {
          border-bottom: 1px solid #85a3ae;
          display: block;
          width: 100%;
        }
        #urb-container3 .urb-button-container .urb-button:last-of-type span {
          border-bottom: none;
        }
            }
            @media screen and (max-width:560px) {}
      @media screen and (max-width:480px) {
        #urb-container3 h2 {
          font-size:20px;
          line-height:24px;
          padding-bottom: 7px;
        }
      }
/************************** END GRAPHIC 3 **************************/

/************************** BEGIN GRAPHIC 5 **************************/
      #urb-container5 {
        box-sizing:border-box;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    /*    max-height:1140px;*/
        max-width:760px;
        height: 285px; /* Added by Urban */
        padding: 0px; 
        position:relative;
      }
      #urb-container5 strong {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      #urb-container5 * {
        box-sizing:border-box;
        margin:0;
        padding:0;
      }
      #urb-container5 h2 {
        color:#000000;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:24px;
        font-weight:bold;
        line-height:24px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      #urb-container5 h3 {
        color:#353535;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:18px;
        font-style: italic;
        font-weight:normal;;
        line-height:22px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      #urb-container5 h2 span {
        color:#1695d1;
      }
      #urb-container5 .urb-container5-column {
        display: block;
        float: left;
        width: 15%;
      }
      #urb-container5 .urb-container5-chart {
        display: block;
        float: left;
        padding: 0 0 0 20px;
        width: 85%;
      }     
      #urb-container5 #urb-graphic-container5 {
          display: inline-block;
          position: relative;
          width: 100%;
          padding-bottom: 0%; /* aspect ratio */
          vertical-align: top;
          overflow: hidden;
      }
      #urb-container5 .urb-button-container {
        display:block;
        float:left;
        height:auto;
        margin: 0;
        padding: 0;
        position: relative;
        width:100%;
      }
      #urb-container5 .urb-button-container p {
        display: none;
      }
      #urb-container5 .urb-button-container .urb-button {
        background-color:#eaeaea;
        border-radius: 5px;
        color:#000000;
        cursor:pointer;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:normal;
        height:30px;
        line-height:30px;
        margin:0 0 8px 0;
        padding:0;
        text-align:center;
        text-decoration: none;
        width:100%;
      }
      #urb-container5 .urb-button-container .urb-button:hover {
        background-color:#BBBBBB;
      }
      #urb-container5 .urb-button-container .urb-button.urb-active5 {
        background-color:#12719e;
        color:#FFF;
        font-weight: bold;
      }
      #urb-container5 .urb-button-container .urb-button.urb-active5:hover {
        background-color:#1695d1;
      }
      #urb-container5 #urb-dmv-graphic5 .urb-bars5-asian text {
        fill:#000;
        font-weight: normal;
      }
      
      #urb-container5 #urb-dmv-graphic5 .urb-bars5-labels {
        font-size: 14px;
      }

      #urb-container5 #urb-dmv-graphic5 .x5.axis5 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:middle;
      }
      #urb-container5 #urb-dmv-graphic5 .y5.axis5 path {
        display: none;
      }
      #urb-container5 #urb-dmv-graphic5 .y5.axis5 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:end;
      }
      #urb-container5 #urb-dmv-graphic5 .y5.axis5 .tick line {
        display: none;
      }
            @media screen and (max-width:720px) {
        #urb-container5 .urb-container5-column {
          float: left;
          height: 58px;
          margin: 0 0 14px 0;
          overflow: hidden;
          position: relative;
          width: 100%;
        }
        #urb-container5 .urb-container5-column.ub-menu-opened5 {
          overflow: visible;
        }
        #urb-container5 .urb-container5-chart {
          padding: 0;
          width: 100%;
        }
        #urb-container5 .urb-button-container {
          background-color:#FFF;
          border-radius: 14px;
          border:1px solid #12719E;
          cursor: pointer;
          height: 52px;
          margin: 0 0 20px 0;
          padding: 6px;
          position: absolute;
          z-index: 10;
        }
        #urb-container5 .urb-container5-column.ub-menu-opened5 .urb-button-container {
                      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          height: 287px;
          margin: 0 0 0 0;
        }
        #urb-container5 .urb-button-container p {
          background-color:transparent;
          background-image: url("../img/bg-triangle.png");
          background-repeat: no-repeat;
          background-position: center 36px;
          background-size: 18px 16px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight: bold;
          height: 52px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }
        #urb-container5 .urb-container5-column.ub-menu-opened5 .urb-button-container p {
          display: none;
        }
        #urb-container5 .urb-button-container p span {
          background-color:#12719E;
          border-radius: 8px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-weight: bold;
          height: 38px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }       
        #urb-container5 .urb-button-container .urb-button {
          background-color:#eaeaea;
          border-radius: 0px;
          color:#000000;
          cursor:pointer;
          display:block;
          float:left;
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight:normal;
          height:39px;
          line-height:38px;
          margin:0;
          padding:0 15px;
          text-align:center;
          text-decoration: none;
          width:100%;
        }
        #urb-container5 .urb-button-container .urb-button.urb-button-01 {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        } 
        #urb-container5 .urb-button-container .urb-button.urb-button-07 {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        #urb-container5 .urb-button-container .urb-button span {
          border-bottom: 1px solid #85a3ae;
          display: block;
          width: 100%;
        }
        #urb-container5 .urb-button-container .urb-button:last-of-type span {
          border-bottom: none;
        }
            }

      @media screen and (min-width: 480px) and (max-width:720px) { /* Added by Urban */
        #urb-container5 {                                          /* Added by Urban */
          height: 290px;                                           /* Added by Urban */
        }                                                          /* Added by Urban */
      }   

      @media screen and (max-width:480px) {
        #urb-container5 h2 {
          font-size:20px;
          line-height:24x;
          padding-bottom: 7px;
        }
        #urb-container5 h3 {
          font-size:16px;
          line-height:20px;
          padding-bottom: 7px;
        }
      }
/************************** END GRAPHIC 5 **************************/

/************************** BEGIN GRAPHIC 4 **************************/
      #urb-container4 {
        box-sizing:border-box;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
    /*    max-height:1140px;*/
        max-width:760px; 
        height: 620px; /* Added by Urban */
        padding:0px;
        position:relative;
      }
      #urb-container4 strong {
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-weight: bold;
      }
      #urb-container4 * {
        box-sizing:border-box;
        margin:0;
        padding:0;
        font-size:16px;
      }
      #urb-container4 h2 {
        color:#000000;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:24px !important;
        font-weight:bold;
        height: 66px;
        line-height:26px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }

      #urb-container4 h3 {
        color:#353535;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:18px;
        font-style: italic;
        font-weight:normal;;
        line-height:22px;
        margin-bottom:0px;
        margin-top:0px;
        padding-bottom:10px;
      }
      
      #urb-container4 h3 span {
        font-size:18px !important;
      }

      #urb-container4 h2 span {
        color:#1695d1;
        font-size:22px !important;
      }

      #urb-container4 .urb-container4-column {
        display: block;
        float: left;
        width: 15%;
      }
      #urb-container4 .urb-container4-chart {
        display: block;
        float: left;
        padding: 0 0 0 20px;
        width: 85%;
      }     
      #urb-container4 #urb-graphic-container4 {
          display: inline-block;
          position: relative;
          width: 100%;
          padding-bottom: 0%; /* aspect ratio */
          vertical-align: top;
          overflow: hidden;
      }
      #urb-container4 .urb-button-container {
        display:block;
        float:left;
        height:auto;
        margin: 0;
        padding: 0;
        position: relative;
        width:100%;
      }
      #urb-container4 .urb-button-container p {
        display: none;
      }
      #urb-container4 .urb-button-container .urb-button {
        background-color:#eaeaea;
        border-radius: 5px;
        color:#000000;
        cursor:pointer;
        display:block;
        float:left;
        font-family: 'Lato', Arial, Helvetica, sans-serif;
        font-size:14px;
        font-weight:normal;
        height:30px;
        line-height:30px;
        margin:0 0 8px 0;
        padding:0;
        text-align:center;
        text-decoration: none;
        width:100%;
      }
      #urb-container4 .urb-button-container .urb-button:hover {
        background-color:#BBBBBB;
      }
      #urb-container4 .urb-button-container .urb-button.urb-active4 {
        background-color:#12719e;
        color:#FFF;
        font-weight: bold;
      }
      #urb-container4 .urb-button-container .urb-button.urb-active4:hover {
        background-color:#1695d1;
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-asian text,
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-black text,
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-latine text,
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-white text {
        fill:#000;
        font-weight: normal;
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-asian-title .urb-bars4-asian-title-blue {
        fill:#353535; /* #73b9e2; */ 
        font-weight: normal; /* bold; */
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-black-title .urb-bars4-black-title-blue {
        fill:#353535; /* #1695d1; */
        font-weight: normal; /* bold; */
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-latine-title .urb-bars4-latine-title-blue {
        fill:#353535; /* #12719e; */
        font-weight: normal; /* bold; */
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-white-title .urb-bars4-white-title-blue {
        fill:#353535; /* #0a4c6a; */
        font-weight: normal; /* bold; */
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-asian .urb-bars4-labels,
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-black .urb-bars4-labels,
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-latine .urb-bars4-labels,
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-white .urb-bars4-labels {
        font-size: 14px;
      }
      #urb-container4 #urb-dmv-graphic4 .x4.axis4 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:middle;
      }
      #urb-container4 #urb-dmv-graphic4 .y4.axis4 path {
        display: none;
      }
      #urb-container4 #urb-dmv-graphic4 .y4.axis4 .tick text {
        fill:#000;
        font-size: 14px;
        text-anchor:end;
      }
      #urb-container4 #urb-dmv-graphic4 .y4.axis4 .tick line {
        display: none;
      }
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-asian text:nth-of-type(5),
      #urb-container4 #urb-dmv-graphic4 .urb-bars4-latine text:nth-of-type(5) {
        display: none;
      }
            @media screen and (max-width:720px) {
        #urb-container4 .urb-container4-column {
          float: left;
          height: 58px;
          margin: 0 0 14px 0;
          overflow: hidden;
          position: relative;
          width: 100%;
        }
        #urb-container4 .urb-container4-column.ub-menu-opened4 {
          overflow: visible;
        }
        #urb-container4 .urb-container4-chart {
          padding: 0;
          width: 100%;
        }
        #urb-container4 .urb-button-container {
          background-color:#FFF;
          border-radius: 14px;
          border:1px solid #12719E;
          cursor: pointer;
          height: 52px;
          margin: 0 0 20px 0;
          padding: 6px;
          position: absolute;
          z-index: 10;
        }
        #urb-container4 .urb-container4-column.ub-menu-opened4 .urb-button-container {
                      -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                      -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
                  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          height: 287px;
          margin: 0 0 0 0;
        }
        #urb-container4 .urb-button-container p {
          background-color:transparent;
          background-image: url("../img/bg-triangle.png");
          background-repeat: no-repeat;
          background-position: center 36px;
          background-size: 18px 16px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight: bold;
          height: 52px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }
        #urb-container4 .urb-container4-column.ub-menu-opened4 .urb-button-container p {
          display: none;
        }
        #urb-container4 .urb-button-container p span {
          background-color:#12719E;
          border-radius: 8px;
          color:#FFF;
          display: block;
          float:left; 
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-weight: bold;
          height: 38px;
          line-height: 38px;
          text-align: center;
          width: 100%;
        }       
        #urb-container4 .urb-button-container .urb-button {
          background-color:#eaeaea;
          border-radius: 0px;
          color:#000000;
          cursor:pointer;
          display:block;
          float:left;
          font-family: 'Lato', Arial, Helvetica, sans-serif;
          font-size:18px;
          font-weight:normal;
          height:39px;
          line-height:38px;
          margin:0;
          padding:0 15px;
          text-align:center;
          text-decoration: none;
          width:100%;
        }
        #urb-container4 .urb-button-container .urb-button.urb-button-01 {
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
        } 
        #urb-container4 .urb-button-container .urb-button.urb-button-07 {
          border-bottom-left-radius: 8px;
          border-bottom-right-radius: 8px;
        }
        #urb-container4 .urb-button-container .urb-button span {
          border-bottom: 1px solid #85a3ae;
          display: block;
          width: 100%;
        }
        #urb-container4 .urb-button-container .urb-button:last-of-type span {
          border-bottom: none;
        }
            }
      
      @media screen and (min-width: 650px) and (max-width:720px) { /* Added by Urban */
        #urb-container4 {                                          /* Added by Urban */
          height: 700px;                                           /* Added by Urban */
        }                                                          /* Added by Urban */
      }                                                            /* Added by Urban */

      @media screen and (max-width:480px) {
        #urb-container4 { /* Added by Urban */
          height: 500px;  /* Added by Urban */
        }                 /* Added by Urban */
        #urb-container4 h2 {
          font-size:20px;
          line-height:24px;
          padding-bottom: 7px;
        }
        #urb-container4 h3 {
          font-size:16px;
          line-height:20px;
          padding-top:15px; /* Added by Urban */
          padding-bottom: 7px;
        }
      }
/************************** END GRAPHIC 4 **************************/